@import "tailwindcss";

:root {
  --font-inter-sans: "Inter", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}

body {
  font-family: var(--font-inter-sans);
}

code,
pre,
.mono {
  font-family: var(--font-roboto-mono);
}
